@font-face {
    font-family: MavenPro;
    src: url("../fonts/Maven_Pro/static/MavenPro-Regular.ttf");
}

@font-face {
    font-family: Gilda Display;
    src: url("../fonts/Gilda_Display/GildaDisplay-Regular.ttf");
}